@tailwind base;
@tailwind components;
@tailwind utilities;
html {
    /* background: linear-gradient(to bottom, #00001d, #000000); */
    background-attachment: fixed;
    background-color: #010011;
    overflow-x: hidden;
    color: rgba(255, 255, 255, 0.93);
    height: 100vh;
}

.heading {
    font-size: 20px;
    font-weight: 500;
    color: rgb(203, 203, 203);
}

.inverted {
    backdrop-filter: invert(10%);
}

.inverted:hover {
    backdrop-filter: invert(60%);
}

.inverted:hover h1 {
    filter: invert(100%);
}

.inverted:hover p {
    filter: invert(100%);
}