@tailwind base;
@tailwind components;
@tailwind utilities;
html {
    background-color: rgb(31 41 55);
    color: white;
    height: 100vh;
}

.heading {
    font-size: 20px;
    font-weight: 500;
    color: rgb(203, 203, 203);
}

.inverted {
    backdrop-filter: invert(10%);
}

.inverted:hover {
    backdrop-filter: invert(60%);
}

.inverted:hover h1 {
    filter: invert(100%);
}

.inverted:hover p {
    filter: invert(100%);
}